body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: -1em;
    padding-bottom: 1em;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 1em;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

sub {
    display: grid;
    grid-template-columns: 40% 60%;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .5em auto
}

p {
    text-align: justify;
}

.justify:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 100%;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
    border-right: 1px solid lightgray;
}

#subRight {
    text-align:center;
}

.education-split {
    background-color: lightgrey;
    width: 20%;
}

.dotFilled {
    height: 10px;
    width: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    margin: .5em auto
}

.dotEmpty {
    height: 8px;
    width: 8px;
    border: .10em solid black;
    border-radius: 50%;
    display: inline-block;
    margin: .5em auto
}

#subParagraph {
    font-size: 1.1em;
}

img {
    border: 5px solid black;
    width: 19em;
    height: 20em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited {
    color: blue;
}